/* Default variables */
:root {
  --link-color: hotpink;
}

[data-theme^="light"],
[data-theme] [data-theme^="light"] {
  --main-color: #000;
  --background-color: #fff;
}

[data-theme^="dark"],
[data-theme] [data-theme^="dark"],
[data-theme="light-dark-sidebar"] nav {
  --main-color: #fff;
  --background-color: #000;
}

body {
  color: var(--main-color);
  font-family: sans-serif;
  background-color: var(--background-color);
  display: flex;
  -webkit-app-region: drag;
}

a {
  color: var(--link-color);
}

main {
  margin-left: 1em;
}
